 .blockimg{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100px;
        /*height: 150px;*/
        overflow: hidden;
        margin: 7px;
    } 
    .blockimg img{
        display: block;
        margin: auto;
        box-shadow: 1px 2px 1px #000;
        
    }
        .supp{
            position: absolute;
            top : 0px;
            right: 0px;
            padding: 2px;
            background: red;
            color: black;
        }
    