.app-header__logo .logo-src {
    height: 31px;
    width: 120px;
    background: url(../images/logo-inverse.png);
}
.dv_datatable th{position: relative;}
/*.dv_datatable tr.th-filter th{padding: 0px !important;}*/
.dv_datatable .torder{z-index: 3; position: absolute; top:0; right: 0; padding: 15px 12px}
.dv_datatable .loader{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    padding: 25% 0;
    text-align: center;
    color: white;
    font-size: 50px;
    background: rgba(51,122,183,0.3);
}
.dv_datatable_container .card-header-tab{
    position: sticky;
    top: 60px;
    z-index: 100;
}
.app-main {
    display: block;
}
.app-wrapper-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100%)!important;
}
.app-main__outer  .app-wrapper-footer{
    left: 280px;
    width: calc(100% - 280px)!important;
}

.dv_datatable_container .align-items-start{
    position: sticky;
    padding: 5px;
    top: 60px;
    background: whitesmoke;
    z-index: 100;
}
.dv_datatable thead{
    position: sticky;
    top: 98px;
    background: whitesmoke;
    z-index: 10;
}

.dv_modal{
    width: 800px; background: transparent; display: block; min-height: 50px; padding-top: 80px;
    transition: .5s;
}
.dv_modal .box-container{
    width: 800px;
}

.app-main__inner {
    padding-bottom: 50px !important;
}

.dv_datatable .torder{
    position: absolute;
    bottom: .5em;
    display: block;
    opacity: .3;
}
.app-sidebar .scrollbar-sidebar {
    overflow: auto;
}
.app-sidebar .app-sidebar__inner {
    padding: 2px 1rem 1rem;
}
.fixed-sidebar .app-main .app-main__outer {
     z-index: 9;
     padding-left: 250px;
 }
.app-sidebar {
    width: 250px;
    display: flex;
    z-index: 11;
    overflow: hidden;
    min-width: 250px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: .88rem;
}
.dropdown-item {
    white-space: inherit;
}

/*****************/

.dv-autocomplete {
    position:relative;
}

.dv-autocomplete .search-results {
    position: absolute;
    width: 100%;
    z-index: 9;
}
.dv-autocomplete .search-results ul {
    max-height: 350px;
    overflow-y: auto;
}
.dv-autocomplete .search-results ul li {
    cursor: pointer;
}
.dv-autocomplete .search-results .loader-container {
    position: absolute;
    display: none;
    width: 50px;
    height: 50px;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.dv-autocomplete .search-results .loader-container:before {
    width: 50px;
    height: 50px;
    margin: 0;
    border-left-color: transparent!important;
    border-top-color: transparent!important;
    content: "";
    display: inline-block;
    border-radius: 50%;
    border: 4px solid #004282;
    -webkit-animation: loading 400ms linear infinite;
    animation: spin 400ms linear infinite;
}